body {
    background-size: auto;
    background-image: url("../assets/helloWorld.jpg");
}

body div {
    width: 100vw;
    height: 100vh;
}

body h1{
    text-align: center;
    vertical-align: middle;
    font-family: 'Permanent Marker', cursive;
    color: aqua;
}

a {
    text-decoration: none;
}